<html>
    <head>
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no">
        <title>Online Mall Blibli, Belanja Online Aman, Nyaman &amp; Terpercaya !</title>
        <meta name="theme-color" content="#0095DA">
        <link rel="icon" type="image/png" sizes="16x16"
        href="https://pathscale--com.b-cdn.net/vue3-demos/blibli/images/blibli-16.png">
        <link rel="apple-touch-icon"
        href="https://pathscale--com.b-cdn.net/vue3-demos/blibli/images/icon-apple-touch.png">
        <meta property="og:site_name" content="Blibli.com">
        <meta property="og:url" content="https://www.blibli.com/">
        <meta property="og:title" content="Online Mall Blibli.com, Sensasi Belanja Online Shop ala Mall">
        <meta property="og:type" content="website">
        <meta property="og:image" itemprop="image" content="https://pathscale--com.b-cdn.net/vue3-demos/blibli/images/blibli-home-og-2020.png">
        <meta property="og:image:secure_url" itemprop="image" content="https://pathscale--com.b-cdn.net/vue3-demos/blibli/images/blibli-home-og-2020.png">
        <meta property="og:description" content="Online Mall dengan Pengalaman Belanja Online yang Fun &amp; Simple. Beli Gadget Baru, Groceries, Fashion, Sports, Elektronik, Otomotif ✅ Gratis Ongkir ✅ Cicilan 0%">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="https://www.blibli.com/">
        <meta name="twitter:title" content="Online Mall Blibli.com, Sensasi Belanja Online Shop ala Mall">
        <meta name="twitter:description" content="Online Mall dengan Pengalaman Belanja Online yang Fun &amp; Simple. Beli Gadget Baru, Groceries, Fashion, Sports, Elektronik, Otomotif ✅ Gratis Ongkir ✅ Cicilan 0%">
        <meta name="twitter:image" content="https://pathscale--com.b-cdn.net/vue3-demos/blibli/images/blibli-home-og-2020.png">
        <meta name="twitter:site" content="@bliblidotcom">
        <meta name="twitter:creator" content="@bliblidotcom">
        <meta data-vmid="description" name="description" content="Toko Online Terlengkap &amp; Terpercaya di Indonesia, Nikmati Belanja Online, Gratis Ongkir,  Pengiriman Cepat,  Cicilan,  COD, 15 Hari Retur,  Pembayaran Aman di Blibli" data-vue-meta="true">
        <meta data-vmid="keywords" name="keywords" content="Toko Online, Online Mall, Belanja Online, Online Shop Indonesia" data-vue-meta="true">
    </head>
</html>

